.mybox{
  border:1px solid;
  margin:5px;
  padding:5px;
}
#studentcards{
  display: flex;
  flex-wrap: wrap;
}

#studentcards li{
  width:200px;
  border:1px solid gray;
  padding:10px;
  margin:10px;
  list-style: none;
}